.post-preview-image {
	max-height: 200px;
	max-width: 80%;
}
.post-preview-avatar {
	width: 32px;
}

.post-preview {
	cursor: pointer;
	transition: background-color 50ms ease-in;

	&:hover {
		background-color: #f5f5f5;
	}

	&:active {
		background-color: #eeeeee;
	}
}
