#header {
	height: 66px;
}

#header-offset {
	height: 66px;
}

#account-toggle {
	transition: filter 100ms ease;
	cursor: pointer;
}

#account-toggle:hover {
	text-decoration: underline;
	filter: brightness(95%);
}

#account-toggle:active {
	filter: brightness(90%);
}

.dropdown-menu > a {
	transition: background-color 150ms ease;
}

.dropdown-menu > a:hover {
	background-color: #212529;
	font-weight: 500;
}
