#posts-page-wrapper {
	height: 89.7vh;
	flex-direction: row;
	justify-content: stretch;
}

#posts-wrapper {
	width: 100vw;
	overflow-y: scroll;
}

#chat-button {
	position: absolute;
	bottom: 0;
	right: 0;
}
